/target
/.vscode

CGAMASK.PIC
CGAMON.PIC
CGAPICS.PIC
DUNGEON.OVR
DUNGEON.RMS
EGAMASKS.PIC
EGAPICS.PIC
EXPLORER.DSC
EXPLORER.EXE
EXPLORER.ICO
EXPLORER.TXT
PYMASK.PIC
PYMON.DAT
PYMON.PIC
README.1ST
ROCON.DCH
